@model IEnumerable<StoreWebApp.Models.Product>

@{
    ViewData["Title"] = "Store Index";
}

<h1>Store Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int newStore = 0;}
        @foreach (var item in Model)
        {
            @if (item.Store.Id != newStore)
            {
                newStore = item.Store.Id;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.Location)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a asp-action="History" asp-route-id="@item.Store.Id">Order History</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
