@model IEnumerable<StoreWebApp.Models.Order>

@{
    ViewData["Title"] = "Order Page";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Place new order</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Store.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Store.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Order Details</a>
            </td>
        </tr>
}
    </tbody>
</table>