@model IEnumerable<StoreWebApp.Models.Order>

@{
    ViewData["Title"] = "Customer Order History";
}

@{ int index = 1;}
@foreach (var item in Model)
{
    if (index == 1)
    {
        <h1>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
            @Html.DisplayFor(modelItem => item.Customer.LastName)'s
            Order History
        </h1>
    }
    index++;
}

@if (index == 1)
{
    <h1>
        Order History
    </h1>
}

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Store.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 0;}
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Store.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @{decimal total = item.Quantity * item.Product.Price;}
                    $@total
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
            </tr>
        }

        @if (count == 0)
        {
            <tr>
                This customer has not placed any orders yet.
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Customer Page</a>
</div>